<%= javascript_include_tag "semistatic/semistatic" %>
<%= tinymce %>

<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :layout %><br />
    <%= f.text_field :layout %>
  </div>


  <fieldset>
    <legend>Page Parts</legend>
    <%= f.fields_for :parts do |subform| %>
      <div class="field">
        <%= subform.label(subform.object.name) %><br />
        <%= @presenter.input(subform) %>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
