<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Slug:</b>
  <%= @page.slug %>
</p>

<p>
  <b>Layout:</b>
  <%= @page.layout %>
</p>


<% @page.parts.each do |part| %>
  <div class="semistatic-part">
    <h2 class="zpart-name"><%= part.name %></h2>
    <div class="content"><%= @presenter.output(part.name) %></div>
  </div>
<% end %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
